.subscribe{
  padding-top: 60px;
  padding-bottom: 60px;
}
.emailaddress, .emailaddress:focus {
  border:none;
  border-color: none;
  background-color: #f5f5f5;
  color: #222;
  padding: 0 15px;
  font-size: 14px;
  height:45px;
}
.btn-subscribe,.btn-subscribe:hover {
  border:none;
  background-color: #222;
  color: white;
  border-radius: 0;
}